.flexstyle{
    display: flex;
    justify-content:space-around ;/*Se ubica al inicio */
}
.aside{
    max-width: 70%;
    margin: auto;
    text-align: center;
    border: 6px solid #f0f0d2;
    background-color: #f5fdf0;
    height: 1100px;
    
}

.cuerpo{
    display: flex;
    justify-content: space-around;


}
.borde{
    border:6px solid #f0f0d2;

}
.parteizquierda{
    max-width: 60%;
    text-align: left;
}
body{
    background-color: azure;
    font-family: Arial, sans-serif;
}
p{
    color:rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: justify;
}
header{
    background-color: #6a6ae4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color:#f1f4f4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 39px;
    text-align: center;
}
h2{
    color:#f1f4f4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}
footer{

    background-color: #5644fc;
}