
header {
    text-align: center;
    background-color: #2e20f4;
    color: white;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#noticias{
    width: 1200px;
    height: 250px;
    padding: 10px;
    border: 1px solid black;
    /* Creacion de columnas para el elemento del articulo*/
    column-count: 3;
    column-gap: 25px;
    column-rule-style: dotted;
    column-rule-color: rgb(255, 255, 255);
    column-rule-width: 80px;
}